_startupSystemInstantiations.Add(typeof({template:StartupSystemFullyQualifiedName}), () =>
{
    if ({template:ResourceChecks})
    {
        return new {template:StartupSystemFullyQualifiedName}({template:StartupSystemParameters});
    }

    return null;
});
