namespace {template:Namespace}
{
	[global::MyEngine.Core.AppEntrypointInfo]
	public static class AppEntrypointInfo
	{
		[global::MyEngine.Core.AppEntrypointInfoFullyQualifiedName]
		public const string FullyQualifiedName = "{template:FullyQualifiedName}"; 
	}
}
