namespace {template:Namespace}
{
    {template:AppSystemsInfoAttribute}
    public static class AppSystemsInfo
    {
        {template:SystemClassesAttribute}
        public const string SystemClasses = "{template:SystemClasses}";

        {template:StartupSystemClassesAttribute}
        public const string StartupSystemClasses = "{template:StartupSystemClasses}";
    }
}
